body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
}
.box{
    width: 100%;
}
.home-page{
    margin-top: -20px;
    padding: 50px 50px;
    background: linear-gradient(100deg, brown , brown, white);
}
.btn-explore{
    border: none;
    padding: 10px 15px;
    border-radius: 60px;
    background: linear-gradient(90deg , green, greenyellow);
}
.cord-s div{margin-left: 15px;}
.card-imf{
    padding: 20px 20px;
    min-height: 250px;
    border-radius: 10px ;
    background: white;
 width: 250px;   
}
.card-imf .fa-heart-o{
    float: right;
}
.card-imf img{
    width: 200px;
}
.q-link ul li{
    list-style: none;
}
.off{
    margin-top: 100px;
}
.inter img{
    width: 40px;
    
}
footer{
    padding-bottom: 120px;
}
footer ul li {
    padding-bottom: 10px;
}
footer ul .nav-link{
    padding-bottom: 10px;
}