body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
}
.box{
    width: 100%;
}
.home-page{
    margin-top: -20px;
    padding: 50px 50px;
    background: brown;
}
.btn-explore{
    border: none;
    padding: 10px 15px;
    border-radius: 60px;
    background: linear-gradient(90deg , green, greenyellow);
}
.cord-s div{margin-left: 15px;}
.card-imf{
    
    height: 250px;
    border-radius: 10px ;
    background: white;
 width: 250px;   
}